<!doctype html>
<html>
<head>
  <title>Pokemon</title>
  <link rel="stylesheet" href="/css/attack.css" type="text/css">
</head>

<body>
  <div id="attack_box">
  <%= yield %>
  </div>
</body>
</html>
